@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

body {
    font-family: 'Baloo Bhai', cursive;
}

.joke-setup {
    font-size: 15px;
    color: #3498db;
}

.joke-punch {
    font-size: 18px;
    color: #9b59b6;
}